/*** Base Styles ***/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
  font: 500 13px/150% "Barlow Semi Condensed", sans-serif;
}

img {
  margin-right: 17px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
img.violet-border-light {
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}
img.violet-border-dark {
  border: 2px solid hsl(263, 55%, 52%);
}

h6 {
  font-size: 14px;
  font-weight: 600;
}

.author-credentials {
  line-height: 125%;
}
.author-credentials p {
  opacity: 0.5;
}

.testimonial-statement {
  font: 600 20px/125% "Barlow Semi Condensed", sans-serif;
}

blockquote {
  opacity: 0.7;
}

/*** Testimonials Container Styles ***/
.testimonial-container {
  display: grid;
  grid-auto-rows: auto;
  gap: 24px;
  margin-top: 24px;
  max-width: 325px;
}

/*** Testimonial Component Styles ***/
.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 14px;
  border-radius: 10px;
  padding: 24px 35px 30px 30px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}
.testimonial.violet-bg {
  background: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 100%);
}
.testimonial.dark-black-blue-bg {
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 100%);
}
.testimonial.dark-grey-blue-bg {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
}
.testimonial-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote-bg {
  position: relative;
  z-index: -2;
}
.quote-bg svg {
  position: absolute;
  top: 0;
  right: 8%;
  z-index: -1;
}

/* Media Queries */
@media (min-width: 376px) {
  .testimonial-container {
    max-width: 90%;
  }
}
@media (min-width: 768px) {
  .testimonial-container {
    max-width: 90%;
    grid-template-columns: repeat(3, 1fr);
  }
  .testimonial-container .col-2 {
    grid-column: span 2;
  }
  .testimonial-container .row-2 {
    grid-column: span 3;
  }
}
@media (min-width: 992px) {
  .testimonial-container {
    margin: 0 24px;
    max-width: 1110px;
    grid-template-columns: repeat(4, 1fr);
  }
  .testimonial-container .col-2 {
    grid-column: span 2;
  }
  .testimonial-container .row-2 {
    grid-column: 4;
    grid-row: 1/3;
  }
}