// color
$violet: hsl(263, 55%, 52%);
$dark-grey-blue: hsl(217, 19%, 35%);
$dark-black-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$white-opacity-5: hsla(0, 0%, 100%, .5);

$light-grey: hsl(0, 0%, 81%);
$light-grey-blue: hsl(210, 46%, 95%);

// font
$font-stack: 'Barlow Semi Condensed', sans-serif;

// breakpoints

$break-sm: 376px;
$break-md: 768px;
$break-lg: 992px;