@import 'partials/variables',
        'partials/mixins';


/*** Base Styles ***/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $light-grey-blue;
    font: 500 13px/150% $font-stack;
}

img {
    margin-right: 17px;
    border-radius: 50%;
    @include border;
    height: 30px;
    width: 30px;
}

h6 {
    font-size: 14px;
    font-weight: 600;
}

.author-credentials {
    line-height: 125%;
    p {
        opacity: .5;
    }
}

.testimonial-statement {
    font: 600 20px/125% $font-stack;
}

blockquote {
    opacity: .7;
}

/*** Testimonials Container Styles ***/

.testimonial-container {
    display: grid;
    grid-auto-rows: auto;
    gap: 24px;
    margin-top: 24px;
    max-width: 325px;
}

/*** Testimonial Component Styles ***/

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
    border-radius: 10px;
    padding: 24px 35px 30px 30px;
    @include testimonial-bg-text;
    &-author{
        display: flex;
        align-items: center;
    }
}

.quote-bg {
    position: relative;
    z-index: -2;
    svg {
        position: absolute;
        top: 0;
        right: 8%;
        z-index: -1;
    }
}

/* Media Queries */

@media (min-width: $break-sm) {
    .testimonial-container {
        max-width: 90%;
    }
}

@media (min-width: $break-md) {
    .testimonial-container {
        max-width: 90%;
        grid-template-columns: repeat(3, 1fr);
        .col-2 {
            grid-column: span 2;
        }
        
        .row-2 {
            grid-column: span 3;
        }
    }
}

@media (min-width: $break-lg) {
    .testimonial-container {
        margin: 0 24px;
        max-width: 1110px;
        grid-template-columns: repeat(4, 1fr);
        .col-2 {
            grid-column: span 2;
        }
        .row-2 {
            grid-column: 4;
            grid-row: 1 / 3;
        }
    }
}

